<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border-1 rounded-5 p-5 w-50 shadow-lg">
        <h2 class="text-center text-primary fw-bolder">Login</h2><br>
        <div>
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" placeholder="Email" formControlName="email" />
            @if(loginForm.controls['email'].touched){
                @if(loginForm.controls["email"].hasError('required')) {
                    <small class="text-danger">Email required</small>
                }
                @if(loginForm.controls["email"].hasError('email')) {
                    <small class="text-danger">Invalid email</small>
                }
            }
        </div> <br>
        <div class="mb-2">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" placeholder="Password" formControlName="password" />
            @if(loginForm.controls['password'].touched){
                @if(loginForm.controls["password"].hasError('required')) {
                    <small class="text-danger">Password is required</small>
                }
            }
        </div>
        <span class="text-secondary">Don't have an account? <a [routerLink]="['/auth/register']" class="text-decoration-none">Register</a></span>
        <br>
        <div class="text-center mt-3">
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">
                Login
            </button>
        </div>
    </form>
</div>
